@{
    ViewData["Title"] = "Disney Junior";
}
<h1>@ViewData["Title"] - Programas:</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in ViewData["Programs"] as List<WebTele.Models.Program>)
    {
        <div class="col" style="margin-bottom: 20px;">
            <div class="card">
                <img src="/resources/@item.img" class="card-img-top" style="min-height: 200px; min-width: 300px; max-height: 200px;" />
                <div class="card-body">
                    <h5 class="card-title">@item.name</h5>
                    <p class="card-text">@item.description</p>
                </div>
            </div>
        </div>
    }
</div>
