@{
    ViewData["Title"] = "Canales";
}

<div class="text-center">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="/resources/disney-junior.png" style="max-width: 100%; max-height: 286px">
                    <p class="card-text">Disney Channel es un canal de televisión por suscripción para niños y jóvenes que ofrece una programación llena de magia, aventuras y música. Destaca por sus populares series y películas originales, además de su compromiso con el público joven y la familia.</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Guide" asp-action="DISNEY">Ver programas</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="/resources/cartoon-network.jpg" style="max-width: 100%; max-height: 286px">
                    <p class="card-text">Cartoon Network es un canal de televisión para niños y jóvenes con una amplia variedad de programas de dibujos animados divertidos y emocionantes. Destaca por su programación creativa y original que deleita a su público joven.</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Guide" asp-action="CARTOON">Ver programas</a>
                </div>
            </div>
        </div>
    </div>

</div>
